/* !============================================================
!     Mobile-Friendly Settings
!============================================================ */

@media screen and (max-width: 600px) {
  .articles-page,
  .topic-articles-page,
  .article-page {
    padding: 0rem;
    margin: -1.5rem;
    grid-template-columns: 1fr;
  }

  .sort-and-topic-bar-container {
    flex-direction: column;
    align-items: stretch;
  }

  .article-body {
    text-align: left;
    margin: 1rem 0;
  }

  #comment {
    width: 100% !important;
  }

  .comment-votes {
    width: 50px;
    height: 35px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .loading-message {
    font-size: 1.25rem;
  }
}
