/*! ============================================================ */
/*!     AllArticlesPage
/*! ============================================================ */
.all-articles-page-main {
  max-width: 100%;
  width: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.all-articles-page-main h1 {
  font-size: var(--font-size-5xl);
  text-decoration: underline;
  margin: 2.5rem;
  text-align: center;
  line-height: 1.2;
}

.all-articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 390px));
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.all-articles-list > *:last-child:nth-child(3n + 1) {
  grid-column: 2 / 3;
}

/*! ============================================================ */
/*!     Media Queries
/*! ============================================================ */
@media (max-width: 600px) {
  .all-articles-page-main h1 {
    margin: 1.5rem auto;
  }

  .all-articles-list {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
  }

  .all-articles-list > * {
    max-width: 100%;
  }
}
