/*! ============================================================ */
/*!     H1 - Daily Spews Heading 
/*! ============================================================ */
.header-container h1 {
  font-size: 3.5rem;
}

/*! ============================================================ */
/*!     Header Container + Daily Spews Logo
/*! ============================================================ */

.header-container {
  background-color: #8c75d8;
  padding: 0.5rem;
  border-radius: 30px;
  border: 0.35rem solid #0d0024;
  box-shadow: none;
  text-align: center;
  position: relative;
}

.daily-spews-logo {
  display: inline-block;
  height: 6.5rem;
  width: 6.5rem;
  border: 0.4rem dotted #0d0024;
  border-radius: 2.8rem;
  margin-bottom: 0.5rem;
}
