/* !============================================================
!     H1 - Daily Spews Heading 
!============================================================ */
.header-container h1 {
  font-size: 3.5rem;
}

/* !============================================================
!     Header Container + Daily Spews Logo
!============================================================ */

.header-container {
  background-color: #8c75d8;
  padding: 0.5rem;
  border-radius: 30px;
  border: 0.35rem solid #0d0024;
  box-shadow: none;
  text-align: center;
  position: relative;
}

.daily-spews-logo {
  display: inline-block;
  height: 6.5rem;
  width: 6.5rem;
  border: 0.4rem dotted #0d0024;
  border-radius: 2.8rem;
  margin-bottom: 0.5rem;
}

/* !============================================================
!     Media Queries
!============================================================ */

@media screen and (max-width: 600px) {
  .header-container {
    position: sticky;
    top: 0rem;
    z-index: 1001;
    background-color: #8c75d8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border-radius: 0;
    border-width: 2.5px;
    align-self: center;
    width: 100%;
    margin: 0rem;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 0.25rem;
    gap: 1rem;
  }

  .header-container h1 {
    display: none;
  }

  .mobile-daily-spews-greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .mobile-daily-spews-heading {
    font-family: var(--font-heading);
    font-size: 3.5rem;
    text-align: center;
    color: var(--color-heading);
    display: block;
    margin: 0rem;
    background-color: #8c75d8;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 0.25rem solid black !important;
  }

  .mobile-daily-spews-greeting-container p {
    font-family: var(--font-heading);
    font-size: 1.25rem;
    text-align: center;
    margin: 0rem;
    color: #0d0024;
    display: block;
    padding: 0rem;
  }

  .mobile-daily-spews-logo {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    border: 0.25rem dotted #0d0024;
    border-radius: 2rem;
    margin: 0.5rem;
    align-self: center;
  }
}
