/* ============================================================
    Toastify
============================================================ */

.toast-wrapper {
  box-shadow: none;
  background-color: none;
  padding: none;
  border-radius: none;
  box-shadow: none;
  color: none;
}

.Toastify {
  box-shadow: none;
}


