/* ============================================================
    CommentButton
============================================================ */

#comment-button {
  font-weight: bold;
  flex-direction: row;
  padding: 0.5rem 1.25rem;
  gap: 0.5rem;
}

#comment-button span {
  font-size: 1rem;
  font-weight: bolder;
}

#comment-button:hover {
  background-color: #b95d28;
}
