/*! ============================================================ */
/*!     ToastTester
/*! ============================================================ */

.toast-tester button {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  background-color: #8113d5;
  color: white;
  font-weight: bold;
}

.toast-tester {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
