/*! ============================================================ */
/*!     TopicCard
/*! ============================================================ */

.topic-card {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  background: var(--color-background-tertiary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
  text-align: center;
  animation: fadeScaleIn 0.5s ease-in-out both;
  box-shadow: 0.1rem 0.1rem 0.1rem #0000007f;
  border-radius: 1.875rem;
}

.topic-card:hover {
  background-color: #8113d5;
  box-shadow: none;
  transform: scale(1.02);
  border: none;
}

.topic-card h3 {
  font-family: "Gaegu", sans-serif;
  font-size: var(--font-size-3xl);
  transition: all 0.4s ease-in-out;
  margin: 0.3rem 0 0.15rem 0;
}

.topic-card:hover h3 {
  color: white;
  text-decoration: underline;
  text-decoration-color: #f77703 !important;
}

.topic-card img {
  height: 12.75rem;
  width: 18.75rem;
  object-fit: cover;
  border-radius: 1.875rem;
  margin: 0.5rem;
  transition: all 0.4s ease-in-out;
}

.topic-card:hover img {
  transform: scale(1.1);
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  border: 0.3rem dotted #000000;
  border-radius: 100%;
}

/*! ============================================================ */
/*!     Media Queries
/*! ============================================================ */

@media (max-width: 600px) {
  .topic-card h3 {
    font-size: var(--font-size-3xl);
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }

  .topic-card img {
    width: 18rem;
    height: 12rem;
  }
}
