/* !============================================================
!     Topic Filter Bar
!============================================================ */

#topic-dropdown {
  font-weight: bold;
  opacity: 1;
}

/* !============================================================
!     Media Queries
!============================================================ */

@media (max-width: 600px) {
  #topic-dropdown {
    height: 2.75rem;
    max-width: 100%;
    text-align: center;
  }
}
