/* ============================================================
   Logout Button
============================================================ */
.logout-button {
  background-color: #8113d5;
  color: white;
  font-weight: bold;
  align-self: center;
}

.logout-button:hover {
  background-color: #b95d28;
}
