/* !============================================================
!     Post New Article Button
!============================================================ */

.post-article-button {
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}

/* !============================================================
!     Media Queries
!============================================================ */
