/* !============================================================
!     About Page
!============================================================ */

.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2.5rem;
  border-radius: 1.875rem;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out both;
  background-color: #8a72d77e;
  box-shadow: 0rem 0rem 1.5rem 0.5rem #f779038a;
}

.about-page-container h1 {
  font-size: clamp(2rem, 5vw, 2rem);
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.about-page-container img {
  margin-top: 2.5rem;
  width: 120px;
  height: auto;
}

.about-page-container p {
  line-height: 1.6;
  color: #222;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.kevin-stephenson-link {
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

/* !============================================================
!    Media Queries
!============================================================ */

@media (max-width: 600px) {
  .about-page-container {
    margin: 0.5rem;
    margin-top: 2.5rem;
  }

  .about-page-container img {
    width: 110px;
    margin-top: 2rem;
  }

  .about-page-container p {
    font-size: 1rem;
  }
}
