/* !============================================================
!     Article Card Container
!============================================================ */
.article-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  background-color: #8c75d8;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  will-change: box-shadow;
  border-radius: 30px;
}

.article-card-container:hover {
  background-color: #b95d28d2;
  box-shadow: 0 0 30px #ea6e0280;
}

/* !============================================================
!     Article Card
!============================================================ */

.article-card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  margin: 1.5rem 0.5rem 0rem 0.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  background-color: #9382ca;
  gap: 0.5rem;
  text-align: center;
  position: relative;

  animation: fadeSlideInUp 0.5s ease-in-out both;
}

.article-card:hover {
  border: 2px solid #0d0024;
}

.article-card-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-card-heading {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.article-card h3 {
  font-family: var(--font-heading);
  font-size: 1.05rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.25rem;
  border-radius: 1rem;
  padding: 0rem 0.5rem;
  background-color: #8a72d77e;
}

.article-card img {
  width: 100%;
  height: 17.1875rem;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.article-card img:hover {
  transform: scale(1.05);
  border: 5px dotted #000000;
  transition: all 0.3s ease-in-out;
}

/* .article-card-image-posted-date-container {
  position: relative;
  width: 100%;
} */

.article-card-posted-date {
  display: inline-block;
  width: auto;
  margin-top: 0.75rem;
  padding: 0rem 0.5rem;
  font-family: var(--font-heading);
  font-size: 0.9rem;
  background-color: #8a72d77e;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
}

/* !============================================================
!     Article Card - Likes and Comments
!============================================================ */
.article-card-likes-and-comments-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article-card-likes-and-comments-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.article-card-likes-icon-link {
  text-decoration: none;
  color: #000;
}

.article-card-likes-icon-link:hover {
  text-decoration: underline !important;
  color: #000;
}

.article-card-heart-icon {
  margin-left: 0.5rem;
  color: black;
  fill: #8113d5;
}

.article-card-message-icon {
  color: black;
  fill: #ffffff;
}

/* !============================================================
!     Media Queries
!============================================================ */

@media (max-width: 600px) {
  .article-card-container {
    max-width: 100vw;
  }

  .article-card-heading {
    font-size: 1.25rem;
    min-height: 2rem;
  }

  .article-card p {
    font-size: 1rem;
    line-height: 1.15rem;
  }

  .article-card img {
    height: auto;
  }
}
