/* ============================================================
     Article Card Container
============================================================ */
.article-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  background-color: #8c75d8;
  border-color: #000000;
  border-width: 0.15rem;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  will-change: box-shadow;
}

.article-card-container:hover {
  background-color: #b95d28d2;
  box-shadow: 0 0 30px rgba(234, 110, 2, 0.5);
}

/* ============================================================
     Article Card
============================================================ */
.article-card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    border 0.3s ease-in-out, background-color 0.75s ease-in-out;
  border: 2px solid transparent;
  margin: 0.1rem;
  margin-bottom: 0.4rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  background-color: #9382ca;
  gap: 0.5rem;
  height: 100%;
  will-change: transform, box-shadow;
}

.article-card:hover {
  background-color: #8c75d8;
  transform: scale(1.05);
  border: 2px solid #0d0024;
}

.article-card-heading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 5rem;
}

.article-card img {
  width: 100%;
  height: 17.1875rem;
  object-fit: cover;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

.article-card-author-and-topic-link:hover {
  text-decoration: underline;
}

/* ============================================================
     Article Card - Likes and Comments
============================================================ */
.article-card-likes-and-comments-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 !important;
}

.article-card-likes-and-comments-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.article-card-likes-icon-link {
  text-decoration: none;
  color: #000;
}

.article-card-likes-icon-link:hover {
  text-decoration: underline !important;
  color: #000;
}

.article-card-heart-icon {
  margin-left: 0.5rem;
  color: black;
  fill: #8113d5;
}

.article-card-message-icon {
  margin-right: 0.5rem;
  color: black;
  fill: #ffffff;
}
