/*! ============================================================ */
/*!     PostCommentForm Overlay
/*! ============================================================ */
.comment-form-overlay {
  /* opacity: 1 !important; */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 0, 148, 0.783);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  flex-wrap: wrap;
  padding: 1rem;
}

.post-comment-form-wrapper:hover .comment-form-overlay {
  opacity: 1;
  pointer-events: auto;
}

.comment-form-overlay-login-button,
.comment-form-overlay-signup-button {
  background-color: #8113d5;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid #0d0024;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.comment-form-overlay-login-button:hover,
.comment-form-overlay-signup-button:hover {
  background-color: #b95d28;
  color: white;
  transform: scale(1.05);
}

/*! ============================================================ */
/*!     PostCommentForm
/*! ============================================================ */
.post-comment-form-wrapper {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

#comment {
  text-align: left;
  padding: 1.25rem;
  width: 92.5%;
  background-color: #1f0054;
  font-size: var(--font-size-base);
  border: 2px solid #000;
  resize: vertical;
  box-shadow: 5px 3px 1px 1px rgba(86, 61, 154, 0.448);
  min-height: 6rem;
  max-height: 12rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  overflow-y: auto;
}

#comment:focus {
  border-color: #e196ffaf;
  outline: none;
}

.comment-submit-button {
  width: clamp(6rem, 15%, 12rem);
  max-width: 100%;
  position: relative;
  background-color: #8113d5;
  color: white;
  border: 2px solid #0d0024;
  height: 3.25rem;
  margin-top: 0.5rem;
  font-size: var(--font-size-base) !important;
}

/*! ============================================================ */
/*!     Media Queries
/*! ============================================================ */

@media (max-width: 600px) {
  #comment {
    width: 100%;
  }

  .post-comment-form-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .comment-submit-button {
    margin-top: 0.5rem;
    width: 30%;
  }

  .comment-submit-button:disabled,
  .comment-submit-button:disabled:hover {
    background-color: #878787;
    color: black;
    cursor: not-allowed;
    border: 2px solid #000000;
  }
}
