/* ============================================================
   Navigation Bar Buttons
============================================================ */

.navigation-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.nav-button {
  background-color: #8113d5;
  color: white;
  padding: 0.5rem 1.25rem;
  border: 2.5px solid #0d0024;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.nav-button:hover {
  background-color: #b95d28;
}

#user-profile-button {
  width: 3rem;
  border-radius: 50%;
  padding: 0;
}

#home-button {
  width: 3rem;
  border-radius: 50%;
  padding: 0;
}
