/*! ============================================================ */
/*!     Navigation Bar Buttons
/*! ============================================================ */
.navigation-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.nav-button {
  background-color: #8113d5;
  color: white;
  padding: 0.5rem 1.25rem;
  border: 2.5px solid #0d0024;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.nav-button:hover {
  background-color: #f77703;
}

#user-profile-button {
  width: 3rem;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

#home-button {
  width: 3rem;
  border-radius: 50%;
  padding: 0;
}

a.nav-button:hover,
div.nav-button:hover {
  background-color: #b95d28;
  color: white;
}

/*! ============================================================ */
/*!     Navigation Bar Avatar
/*! ============================================================ */
.nav-avatar-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.5rem;
}

.nav-avatar-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
  z-index: 1001;
  border: 2.5px solid #0d0024;
  transition: transform 0.3s ease-in-out;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  backface-visibility: hidden;
  will-change: transform;
}

.nav-avatar-wrapper:hover .nav-avatar-icon {
  transform: scale(1.6);
  transition: transform 0.3s;
}

.nav-avatar-dropdown {
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -170%;
  gap: 6rem;
  transform: none;
  background-color: #f7790382;
  padding: 0.75rem 1rem 0.75rem 1rem;
  z-index: 1000;
  transition: opacity 0.15s ease-in-out;
  font-family: var(--font-heading);
  pointer-events: none;
  width: max-content;
  max-width: 90vw;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 30px;
  word-break: break-word;
  border: 0.2rem dotted #0d0024;
}

.nav-avatar-dropdown-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.nav-avatar-dropdown h2 {
  font-family: var(--font-heading);
  font-size: 1.75rem;
  font-weight: bolder !important;
  margin-bottom: 0.25rem;
  background-color: #f7790321;
  padding: 0.25rem 0.5rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-avatar-wrapper:hover .nav-avatar-dropdown {
  opacity: 1;
  pointer-events: auto;
}

.nav-avatar-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.346);
  z-index: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
}

.nav-avatar-wrapper:hover .nav-avatar-overlay {
  opacity: 1;
}

#nav-logout-button {
  width: fit-content;
  height: 2.5rem !important;
  color: white;
  font-size: 1.25rem;
  font-family: var(--font-heading);
  margin: 0 0.25rem;
  padding: 0.5rem 0.5rem;
}

/*! ============================================================ */
/*!     Profile Link Styling
/*! ============================================================ */
.nav-profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: fit-content;
  color: white;
  font-size: 1.25rem;
  background-color: var(--color-primary);
  border-radius: 10px;
  text-align: center;
  border: 2px solid #0d0024;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.3s ease;
  width: 7rem;
  height: 2.5rem !important;
  padding: 0.5rem 0.5rem;
}

.nav-profile-link:hover {
  background-color: var(--color-accent);
  text-decoration: none;
  color: white;
}

.nav-profile-link:hover svg {
  animation: scribbleWave 0.7s ease-in-out infinite;
}

/*! ============================================================ */
/*!     Post Article Link Styling
/*! ============================================================ */
.nav-post-article-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: fit-content;
  color: white;
  font-size: 1.25rem;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  text-align: center;
  border: 2px solid #0d0024;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.2s ease;
  width: fit-content;
  height: 2.5rem !important;
}

.nav-post-article-link:hover {
  background-color: var(--color-accent);
  text-decoration: none;
  color: white;
}

.nav-post-article-link:hover svg {
  animation: scribbleTilt 0.5s ease-in-out infinite;
}
