/* !============================================================
!     Navigation Bar Buttons
!============================================================ */

.navigation-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.nav-button {
  background-color: #8113d5;
  color: white;
  padding: 0.5rem 1.25rem;
  border: 2.5px solid #0d0024;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.nav-button:hover {
  background-color: #f77703;
}

#user-profile-button {
  width: 3rem;
  border-radius: 50%;
  padding: 0;
}

#home-button {
  width: 3rem;
  border-radius: 50%;
  padding: 0;
}

a.nav-button:hover {
  background-color: #b95d28;
  color: white;
}

/* !============================================================
!     Navigation Bar Avatar
!============================================================ */

.nav-avatar-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.nav-avatar-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
  z-index: 1001;
  border: 2.5px solid #0d0024;
}

.nav-avatar-dropdown {
  /* opacity: 1 !important; */

  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -62.5%;
  gap: 3.25rem;
  transform: none;
  background-color: #f7790382;
  padding: 0.25rem 0.75rem 0.5rem 0.75rem;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  font-family: var(--font-heading);
  pointer-events: none;
  width: max-content;
  max-width: 90vw;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 30px;
  word-break: break-word;
  border: 0.2rem dotted #0d0024;
}

.nav-avatar-dropdown h2 {
  font-family: var(--font-heading);
  font-size: 1.25rem;
  font-weight: bolder !important;
  margin-bottom: 0.25rem;
}

.nav-avatar-wrapper:hover .nav-avatar-dropdown {
  opacity: 1;
  pointer-events: auto;
}

.nav-avatar-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.346);
  z-index: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
}

.nav-avatar-wrapper:hover .nav-avatar-overlay {
  opacity: 1;
}

#nav-logout-button {
  width: 5rem;
  height: 2rem !important;
  color: white;
  font-size: 1rem;
  font-family: var(--font-heading);
  margin: 0rem 0.25rem;
}

/* !============================================================
!     Media Queries
!============================================================ */

@media screen and (max-width: 600px) {
  .daily-spews-logo.navigation-bar-container {
    width: 3.5rem;
    height: 3.5rem;
    border: solid 2.5px #0d0024;
    border-radius: 100%;
  }

  .navigation-bar-container.daily-spews-logo {
    margin-left: 0.1rem;
  }

  .nav-button {
    height: 2.5rem;
  }

  .nav-button:hover {
    background-color: #b95d28;
  }

  #user-profile-button {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.1rem !important;
  }

  #home-button {
    display: none;
  }

  a.nav-button:hover {
    background-color: #b95d28;
    color: white;
  }

  .nav-avatar-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
  }

  .nav-avatar-dropdown {
    position: absolute;
    top: -10%;
    right: -10%;
    transform: none;
    z-index: 1000;
    transition: opacity 0.15s ease-in-out;
    pointer-events: none;
    width: max-content;
    min-width: 10rem;
    max-width: 90vw;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 30px;
    word-break: break-word;
    gap: 0.75rem;
    background-color: #f77903ee !important;
    text-align: center;
  }

  .nav-avatar-dropdown h2 {
    font-size: 1.35rem;
    margin-top: 0.9rem;
    margin-right: 3.5rem;
    margin-bottom: 0rem;
    position: relative;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #nav-logout-button {
    height: 2.25rem !important;
    position: relative;
    top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
