/* ============================================================
    Article-Vote - VoteButton
============================================================ */
.vote-button-container.article-vote {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  box-shadow: none;
  background: none;
}

.vote-info {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  gap: 0.1rem;
  line-height: 1.5rem;
  margin: -0.75rem;
  background: none;
}

/* ============================================================
   Article-Vote - Vote Button - upvote/downvote - hover states
============================================================ */

.vote-button-container.article-vote button {
  padding: 0.5rem 1.5rem;
  margin: 0 0.25rem;
  background-color: #8113d5;
}

.upvote-button.article-vote:hover {
  background-color: #469849 !important;
}

.downvote-button.article-vote:hover {
  background-color: #ca1d11 !important;
}

.heart.article-vote {
  fill: #8113d5;
}

/* ============================================================
   Comment-Vote - Vote Button - upvote/downvote - hover states
============================================================ */

.upvote-button.comment-vote {
  background-color: #8113d52b;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.downvote-button.comment-vote {
  background-color: #8113d52b;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.upvote-button.comment-vote:hover {
  background-color: #469849 !important;
}

.downvote-button.comment-vote:hover {
  background-color: #ca1d11 !important;
}

.heart.comment-vote {
  fill: #8113d52b;
  width: 2rem;
  height: 2rem;
}
