/* !============================================================
!     LAYOUT CONTAINERS
!     - These styles are used to style the containers of the project.
!============================================================ */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

/* !============================================================
!     APP STRUCTURE WRAPPERS
!     - These styles are used to style the structural elements of the project.
!============================================================ */
.app-content .content-block,
.app-content section,
.app-content article,
.app-content form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 30px;
  color: black;
}

@media (max-width: 600px) {
  .app-content section,
  .app-content .content-block,
  .app-content article,
  .app-content form {
    padding: 0.5rem;
    border-radius: 12px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 600px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
