/* !============================================================
!     FORMS + INPUTS
!============================================================ */
.app-content input,
.app-content textarea,
.app-content select {
  font: inherit;
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  padding: 0.5rem;
  margin-top: 0;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  background-color: var(--color-primary);
  color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  text-align: center;
}

.app-content form input {
  background-color: var(--color-form-input);
}

.app-content form input:focus,
.app-content textarea:focus,
.app-content select:focus {
  border-color: var(--color-form-input-focus);
  outline: 3px solid var(--color-form-input-focus);
  outline-offset: 2px;
}

/* !============================================================
!     BUTTONS
!============================================================ */
.app-content button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  font-weight: bold;
  background-color: var(--color-primary);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  color: white;
  cursor: pointer;
  padding: 0.75rem;
  border: 2px solid black;
  border-radius: 10px;
}

.app-content button:hover {
  background-color: var(--color-accent);
  outline: none;
}

.app-content button:focus {
  outline: 4px solid #ab3f00;
  outline-offset: 4px;
}

/* !============================================================
!     MEDIA QUERIES
!============================================================ */
@media (max-width: 600px) {
  .app-content input,
  .app-content textarea,
  .app-content select,
  .app-content button {
    font-size: calc(var(--font-size-base) * 0.9);
    padding: 0.5rem;
  }
}
