/* ============================================================
   TYPOGRAPHY
   These styles are used to style the typography of the project.
============================================================ */

h1,
h2,
h3 {
  color: var(--color-text-heading, black);
  margin-bottom: 0rem;
}

h1 {
  font-family: var(--font-heading);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.1s ease;
}

a:hover {
  color: #ab3f00;
}
