/*! ============================================================ */
/*!     TYPOGRAPHY
/**     Styling for text elements such as headings, links, paragraphs.
/*! ============================================================ */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--color-text-body);
  font-family: var(--font-body);
}

h1 {
  font-family: var(--font-heading);
  color: var(--color-text-heading);
  font-weight: bolder;
  font-size: var(--font-size-4xl);
}

h2 {
  font-size: var(--font-size-3xl);
}
h3 {
  font-size: var(--font-size-2xl);
}
h4 {
  font-size: var(--font-size-xl);
}
h5 {
  font-size: var(--font-size-lg);
}
h6 {
  font-size: var(--font-size-base);
}

/*! ============================================================ */
/*!     Paragraphs
/*! ============================================================ */
p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: var(--color-text-body);
  font-size: var(--font-size-base);
}

/* Strong and Emphasis */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Lists */
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.25rem;
}

/*! ============================================================ */
/*!     Link Styles
/**     Global link color and hover/focus styling for accessibility.
/*! ============================================================ */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.1s ease;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

a:hover {
  color: #ab3f00;
  text-decoration: underline;
}

a:focus {
  outline: 0.15rem solid #ab3f00;
  outline-offset: 0.15rem;
}
